---
import type { Playlist } from "@/lib/data";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistString = artists.join(", ");
---

<a
  href={`/playlist/${id}`}
  class="playlist-item transition-all duration-300 flex relative p-2 overflow-hidden gap-2 pb-4 rounded-md hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 w-44 flex-col"
  transition:name=`playlist ${id} box`
>
  <picture class="aspect-square w-full h-auto flex-none">
    <img
      src={cover}
      alt={`Cover of ${title} by ${artistString}`}
      class="object-cover w-full h-full rounded-md"
      transition:name=`playlist ${id} image`
    />
  </picture>

  <div class="flex flex-auto flex-col truncate text-left">
    <h4 class="text-sm font-bold">
      {title}
    </h4>
    <span class="text-xs text-gray-300">
      {artists}
    </span>
  </div>
</a>
